body,* {
    margin: 0;
    padding: 0;
}
i,svg {
    margin-right: 10px;
}
.imgAnimate{
    width: 300px;
    height: 300px;
}
.cards-list>*{
      padding: 0;
}
.card {
    width: 150px;
    height: 150px;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
.card .card_image {
    width: 150px;
    height: 150px;
    border-radius: 20px;
  }
.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 20px;
    object-fit: cover;
}
  
.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: -80px;
    height: 40px;
}
.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22); 
}
.bottom {
    position: absolute;
    bottom: 0px;
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    opacity: 0.4;
    font-size: 18px;
}
@media all and (max-width: 500px) {
    .card-list {
      flex-direction: column;
    }
}
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 30px;
    text-align: center;
    z-index: 99;
    top: 0;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 30px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}
.navTrigger {
    display: none;
}
.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i,svg {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.slideshow-container {
    height: 100vh;
    width: 100%;
  }

  .mySlides {
    display: none;
  }
  .mySlides img{
      height: 100vh;
      width: 100%;
      object-fit: fill;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    height: 100%;
    padding-top: 50vh;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.527);
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    /* background-color: gray; */
    text-shadow: 1px 1px 200px black;
    
  }

  .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  }
  .fade:not(.show) {
    opacity: 1;
}
  
  @-webkit-keyframes fade {
    from {opacity: 0.9} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 0.9} 
    to {opacity: 1}
  }
.affix {
    padding: 1;
    background-color: #111;
}

 /*<< important styles*/
 .scene{
    /* !3D space! */
    perspective: 600px;
  }
  .items{
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .item{
    position: absolute;
    backface-visibility: hidden;
  }
  .back {
    transform: rotateY( 180deg );
  }
  
  .items:hover {
    transform: rotateY(180deg);
  }
  /*important styles >>*/
   /*<< variations*/
  .items-2 { 
    transform-origin: center right; 
  }
  .items-2:hover {
    transform: translateX(-100%) rotateY(-180deg);
  }
  .items-3 { 
    transform-origin: center left; 
  }
  .items-3:hover {
    transform: translateX(100%) rotateY(-180deg);
  }
  .text-rotate{
     transform: rotate(180deg);
  }
  .items-4:hover {
    transform: rotateX(-180deg);
  }
  .items-5:hover {
    transform: rotateX(180deg);
  }
  /*variations >>*/
  body{
    font-family: 'Bangers', cursive;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .scene{
    width: 300px;
    min-width: 200px;
    height: 350px;
    margin: 22px;
    bottom: 0;
  }
  
  .items{
    width: 100%;
    height: 100%;
    border-radius: 35px;
  }
  .item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px #e02577;
  }
  
  .items-1{
    background-image: linear-gradient(to top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  }
  .items-2{
  background-image: linear-gradient(to bottom, #051937, #00466d, #007aa1, #00b1cc, #12ebeb);
  }
  .items-3{
    background-image: linear-gradient(to top, #907296, #3650a2, #0086d0, #00bae7, #12ebeb);
  }
  
  h1{
    width: 100%;
    margin: 80px 60%;
    padding: 20px;
    text-align: center;
    letter-spacing: .1em;
    border-radius: 35px;
    color: #4f1884;
    text-shadow: 2px 2px #b31ec6;
    background: #efe3ff;
  }
 
  